h2,h3 {
    color: mediumblue;
}
textarea {
    width: 110px;
    height: 300px;
}

#input {
    width: 110px;
    margin-bottom: 3px;
}

#helpText {
    display: none;
    border: thin solid gray;
    padding: 5px;
}

#printer {
    margin-top: 0;
    margin-left: 10px;
    white-space: pre;
}

td {
    display: inline-block;
    vertical-align: top;
}

.black {
    color: black;
}

.gray {
    color: gray;
}

.under-head {
    font-weight: bold;
    text-decoration: underline;
    color: mediumblue;

}

button {
    color: blue;
}